.img-article {
    width:180px;
    height:180px;
    margin:10px;
}

.img-article1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 580px;
    height:580px;
}

.bg-dark-grey {
    background-color: #e7ebef!important;
}

.bg-grey {
    background-color: #e2e4ea47!important;
}

.card-body a {
    text-decoration: none;
    color: inherit;
}

.author {
    text-align: right!important;
}

.cat-color {
    color: darkslateblue!important;
}

